.flatironContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
	max-width: var(--max-width);
	margin: 2.5rem auto 0 auto;
	position: relative;

	@media (max-width: 480px) {
		flex-direction: column-reverse;
		justify-content: center;
		height: 100%;
		margin: 1rem auto 0 auto;
	}
}

.flatironTextSection {
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	padding: 0.8rem;
	border-radius: 20px;
	position: relative;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50dvh;
	flex-direction: row;
	@media (max-width: 768px) {
		max-height: 35dvh;
		flex-direction: row;
		margin-bottom: 2rem;
	}

	@media (max-width: 480px) {
		max-height: none;
		flex-direction: column;
		padding: 1rem;
		margin: 0;
	}
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.flatironTextSection::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.flatironTextSection {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.flatironText {
	flex: 1;
	font-size: 15px;
	line-height: 2;
	max-width: 100%;
	height: auto;
	color: var(--header-white);
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 1rem 0 2rem;
	@media (max-width: 768px) {
		font-size: 10px;
		margin: 0;
	}

	@media (max-width: 480px) {
		font-size: 8px;
		width: auto;
		height: auto;
		margin: 0;
	}
}

.flatironCertImageWrapper {
	flex: 1;
	max-width: 40%;
	height: auto;
	width: 40%;
	margin: 1rem auto 1rem 1rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	position: relative;
	cursor: zoom-in;
	@media (max-width: 768px) {
		width: 100%;
		max-width: 30%;
		margin: 0 0.8rem 0 0;
	}

	@media (max-width: 480px) {
		margin: 0.5rem;
		max-width: 75%;
		height: auto;
		object-fit: contain;
	}
}

.flatironCertImageWrapperFull {
	height: auto;
	width: 75%;
	cursor: zoom-out;
	@media (max-width: 768px) {
	}

	@media (max-width: 480px) {
		width: 100%;
	}
}

.dialogPaper {
	background-color: rgba(0, 0, 0, 0.75) !important;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 768px) {
	}

	@media (max-width: 480px) {
	}
}
