.projectsContainer {
	width: 100%;
	height: 100%;
}

.projectsTitleWrapper {
	position: absolute;
	font-size: 3rem;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1.2rem;
	background: linear-gradient(30deg, var(--header-white), var(--diluted-green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;

	@media (min-width: 1024px) {
		font-size: 3rem;
	}

	@media (max-width: 768px) {
		font-size: 1.6rem;
		margin-top: 2rem;
	}

	@media (max-width: 480px) {
		font-size: 1rem;
	}
}

// .glowstikSlide {
// 	margin: 0 0 2rem 0;
// }

.glowstikProjectContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 0 2rem 0;
	color: var(--header-white);
	position: relative;

	@media (max-width: 768px) {
		padding: 0;
		height: 90%;
	}

	@media (max-width: 480px) {
		flex-direction: column;
		justify-content: center;
		padding: 0;
		height: 75%;
	}
}

.logoPositionContainer {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		flex: 0.8;
	}

	@media (max-width: 480px) {
		flex: 0.5;
	}
}

.glowstikFontLogoWrapper {
	width: 60%;
	max-width: 400px;
	@media (max-width: 480px) {
		width: 60vw;
		margin-top: 1rem;
	}
}

.glowstikTextSection {
	width: 50%;
	max-width: var(--max-width);
	padding-right: 2rem;
	text-align: left;
	position: relative;

	@media (max-width: 768px) {
		padding-right: 1rem;
	}

	@media (max-width: 480px) {
		margin-right: 0;
		margin-bottom: 0;
		width: 90%;
		max-height: 25dvh;
		padding: 0.5rem 0.5rem 0.5rem 1.2rem;
	}
}

.glowstikUrlWrapper {
	position: absolute;
	font-size: 1rem;
	max-width: var(--max-width);
	bottom: 100%;
	left: 40%;
	transform: translateX(-40%);
	margin-bottom: 2rem;
	text-decoration: underline;

	@media (max-width: 768px) {
		font-size: 0.45rem;
		bottom: 90%;
	}

	@media (max-width: 480px) {
		font-size: 0.4rem;
		bottom: 80%;
		left: 50%;
		transform: translateX(-50%);
	}
}

.glowstikTextContainer {
	border: 2px solid var(--glowstik-pink);
	box-shadow: var(--neon-shadow-glowstik-pink);
	padding: 0.8rem;
	border-radius: 20px;
	position: relative;
	max-height: 50dvh;
	overflow-y: auto;

	@media (max-width: 768px) {
		max-height: 35dvh;
	}

	@media (max-width: 480px) {
		max-height: 25dvh;
		padding: 0.5rem;
	}
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.glowstikTextContainer::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.glowstikTextContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.glowstikLogoWrapper {
	float: left;
	width: 15%;
	min-width: 100px;
	margin: 0 1rem 0.3rem 0;
	background-image: url('/map-mask-132.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 100%;

	@media (max-width: 768px) {
		width: 10%;
		min-width: 50px;
		margin: 0 0.8rem 0 0;
	}

	@media (max-width: 480px) {
		width: 10%;
		min-width: 45px;
		margin: 0 0.5rem 0.2rem 0;
	}
}

.glowstikText {
	font-size: 12px;
	line-height: 1.8;
	max-width: 800px;
	margin: 0 auto;
	color: var(--header-white);
	@media (max-width: 768px) {
		font-size: 10px;
	}

	@media (max-width: 480px) {
		font-size: 8px;
	}
}

.projectTitleWrapper {
	position: absolute;
	font-size: 1rem;
	top: 100%;
	left: 20%;
	transform: translateX(-20%);
	margin-top: 1.2rem;
	color: var(--neutral-green);

	@media (max-width: 768px) {
		font-size: 0.35rem;
		top: auto;
		margin-top: 0.8rem;
	}

	@media (max-width: 480px) {
		font-size: 0.4rem;
		top: auto;
		margin-top: 0.8rem;
		left: 30%;
		transform: translateX(-30%);
	}
}

.swiperButtonNext,
.swiperButtonPrev {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto 0px auto 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	transition: all 300ms ease-in-out;
}

.swiperButtonNext::after,
.swiperButtonPrev::after {
	cursor: pointer;
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1;
	color: var(--neutral-green);
	border: 1px solid var(--neutral-green);
	border-radius: 10%;
	padding: 4px;
	box-shadow: var(--neon-shadow-light-green);
}

.swiperButtonPrev::after {
	content: 'prev';
}

.swiperButtonNext::after {
	content: 'next';
	animation: pulse-border-shadow 1s infinite ease-in-out;
}

.swiperButtonNext {
	bottom: 20% !important;
	top: 0 !important;
	left: 50% !important;
	transform: rotate(90deg);
	margin-bottom: 1.5rem !important;
}

.swiperButtonPrev {
	top: 20% !important;
	left: 50% !important;
	transform: rotate(90deg);
	margin-top: 0.8rem !important;
}

.customPaginationVertical {
	right: auto !important;
	width: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
