.projectsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 6rem 0 2rem 0;
	color: var(--header-white);
	position: relative;
}

.logoPositionContainer {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.glowstikFontLogoWrapper {
	width: 60%;
	max-width: 400px;
	border-radius: 20px;
}

.glowstikTextSection {
	width: 50%;
	max-width: var(--max-width);
	padding-right: 2rem;
	text-align: left;
	position: relative;

	@media (max-width: 480px) {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.glowstikUrlWrapper {
	position: absolute;
	font-size: 1rem;
	max-width: var(--max-width);
	bottom: 100%;
	left: 25%;
	transform: translateX(-25%);
	margin-bottom: 2rem;
	text-decoration: underline;
}

.glowstikTextContainer {
	border: 2px solid var(--glowstik-pink);
	box-shadow: var(--neon-shadow-glowstik-pink);
	padding: 0.8rem;
	border-radius: 20px;
	position: relative;
	max-height: 50vh;
	overflow-y: auto;
}

.glowstikLogoWrapper {
	float: left;
	width: 15%;
	min-width: 100px;
	margin: 0 1rem 0.5rem 0;
	background-image: url('/map-mask-132.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.glowstikText {
	font-size: 12px;
	line-height: 1.8;
	text-align: left;
	color: var(--header-white);
	@media (max-width: 768px) {
		font-size: 10px;
	}

	@media (max-width: 480px) {
		font-size: 8px;
	}
}

.projectTitleWrapper {
	position: absolute;
	font-size: 1rem;
	top: 100%;
	left: 20%;
	transform: translateX(-20%);
	margin-top: 1.2rem;
	color: var(--neutral-green);
}
