.contactPageWrapper {
	width: 100%;
	height: 100%;
}

.contactTitleWrapper {
	position: absolute;
	text-wrap: nowrap;
	text-align: center;
	font-size: 3.5rem;
	width: 100%;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5rem;
	background: linear-gradient(30deg, var(--header-white), var(--diluted-green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;

	@media (min-width: 1024px) {
		font-size: 3.6rem;
	}

	@media (max-width: 768px) {
		font-size: 2.4rem;
		margin-top: 0.5rem;
		top: 5%;
	}

	@media (max-width: 480px) {
		font-size: 2rem;
		top: 2.5%;
	}
}

.mediaLinksPositionWrapper {
	height: 100%;
	width: 100%;
	position: relative;
	bottom: 10%;
	margin-top: 0.5rem;

	@media (max-width: 768px) {
		top: 30%;
		transform: translateY(-50%);
	}

	@media (max-width: 480px) {
		top: 50%;
		transform: translateY(-50%);
	}
}

.mediaLinksContainer {
	display: grid;
	justify-items: center;
	width: auto;
	margin: 0 1rem 0 1rem;
	padding: 6rem 0 6rem 0;
	color: var(--header-white);
	height: 100%;
	position: relative;
	top: 20%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	row-gap: 0.1rem;

	@media (max-width: 768px) {
		grid-template-rows: repeat(4, auto);
	}

	@media (max-width: 480px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		height: 100%;
		max-height: 100vh;
		width: 100%;
		margin: 0;
		top: 0;
		row-gap: 0;
	}
}

.circleOne {
	cursor: pointer;
	grid-column: 1;
	grid-row: 1;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		width: 10vw;
		height: 10vw;
	}

	@media (max-width: 480px) {
		width: 25vw;
		height: 25vw;
	}

	&:hover .text {
		color: var(--header-green);
	}
	&:hover .iconWrapper {
		background-color: var(--header-green);
	}
}

.circleTwo {
	cursor: pointer;
	grid-column: 2;
	grid-row: 2;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		width: 10vw;
		height: 10vw;
	}

	@media (max-width: 480px) {
		grid-column: 1;
		grid-row: 3;
		width: 25vw;
		height: 25vw;
	}

	&:hover .text {
		color: var(--header-green);
	}
	&:hover .iconWrapper {
		background-color: var(--header-green);
	}
}

.circleThree {
	cursor: pointer;
	grid-column: 3;
	grid-row: 1;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		width: 10vw;
		height: 10vw;
	}

	@media (max-width: 480px) {
		grid-column: 2;
		grid-row: 2;
		width: 25vw;
		height: 25vw;
	}

	&:hover .text {
		color: var(--header-green);
	}
	&:hover .iconWrapper {
		background-color: var(--header-green);
	}
}

.circleFour {
	cursor: pointer;
	grid-column: 4;
	grid-row: 2;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 768px) {
		width: 10vw;
		height: 10vw;
	}

	@media (max-width: 480px) {
		width: 25vw;
		height: 25vw;
		grid-column: 2;
		grid-row: 4;
	}

	&:hover .text {
		color: var(--header-green);
	}
	&:hover .iconWrapper {
		background-color: var(--header-green);
	}
}

.iconWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 20%;
	position: relative;
	background-color: var(--header-white);
	border-radius: 50%;
	margin-right: 0.5rem;

	@media (max-width: 480px) {
		margin-right: 0.2rem;
	}
}

.text {
	font-size: 1.2vw;

	@media (max-width: 768px) {
		font-size: 1.75vw;
	}

	@media (max-width: 480px) {
		font-size: 2.5vw;
	}
}
