.skillsWrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.skillsTitleWrapper {
	position: absolute;
	font-size: 3rem;
	top: 6%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1.2rem;
	background: linear-gradient(30deg, var(--header-white), var(--diluted-green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;

	@media (min-width: 1024px) {
		font-size: 3rem;
	}

	@media (max-width: 768px) {
		font-size: 1.6rem;
		margin-top: 0.5rem;
		top: 5%;
	}

	@media (max-width: 480px) {
		font-size: 1.5em;
		top: 6%;
	}
}

.flatironSlide {
	padding: 0 2rem 0 2rem;
}

// .prevArrowContainer {
// 	position: absolute;
// 	overflow: hidden;
// 	height: calc(12% - 5dvh);
// 	top: 0;
// 	width: 100%;
// 	left: 0;
// 	background: linear-gradient(to top, var(--neutral-green) 0%, black 90%);
// 	border-bottom: 2px solid var(--light-green);
// 	border-radius: 25%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	cursor: pointer;
// }

// .swiper-button-prev {
// 	background-image: url(../../../public/arrows.png) !important;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	background-position: center;
// 	border-radius: 80%;
// 	transform: rotate(-90deg);
// 	width: 100%;
// 	height: 100%;
// 	z-index: 10;
// 	position: absolute;
// 	top: 10%;
// }

// .nextArrowContainer {
// 	position: absolute;
// 	overflow: hidden;
// 	height: calc(12% - 5dvh);
// 	width: 100%;
// 	bottom: 0;
// 	left: 0;
// 	background: linear-gradient(to bottom, var(--neutral-green) 0%, black 90%);
// 	border-top: 2px solid var(--light-green);
// 	border-radius: 25%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	cursor: pointer;
// }

// .swiper-button-next {
// 	background-image: url(../../../public/arrows.png) !important;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	background-position: center;
// 	border-radius: 80%;
// 	transform: rotate(90deg);
// 	// transform: translateY(10%);
// 	width: 100%;
// 	height: 100%;
// 	z-index: 10;
// 	position: absolute;
// 	bottom: 10%;
// }

// .swiper-button-next::after {
// 	display: none;
// }

// .swiper-button-prev::after {
// 	display: none;
// }

// .swiper-button-next,
// .swiper-button-prev {
// 	position: absolute;
// 	z-index: 1;
// 	top: 0px;
// 	bottom: 0px;
// 	right: 0px;
// 	margin: auto 0px auto 0px;
// 	width: 24px;
// 	height: 24px;
// 	border-radius: 50%;
// }

// .swiperButtonNext::after,
// .swiperButtonPrev::after {
// 	cursor: pointer;
// 	font-family: swiper-icons;
// 	font-size: var(--swiper-navigation-size);
// 	text-transform: none !important;
// 	letter-spacing: 0;
// 	font-variant: initial;
// 	line-height: 1;
// 	color: var(--neutral-green);
// 	border: 1px solid var(--neutral-green);
// 	border-radius: 0;
// 	padding: 50vw 50vh 50vw 4px;
// 	box-shadow: var(--neon-shadow-light-green);
// }

// .swiperButtonPrev::after {
// 	content: 'prev';
// }

// .swiperButtonNext::after {
// 	content: 'next';
// 	animation: pulse-border-shadow 1s infinite ease-in-out;
// }

// .swiperButtonNext {
// 	bottom: 20% !important;
// 	top: 0 !important;
// 	left: 50% !important;
// 	transform: rotate(90deg);
// 	margin-bottom: 1.5rem !important;
// }

// .swiperButtonPrev {
// 	top: 20% !important;
// 	left: 50% !important;
// 	transform: rotate(90deg);
// 	margin-top: 0 !important;

// 	@media (max-width: 768px) {
// 		margin-top: 1.6rem !important;
// 	}

// 	@media (max-width: 480px) {
// 		margin-top: 1.8rem !important;
// 		top: 10% !important;
// 	}
// }

// @keyframes pulse-border-shadow {
// 	0%,
// 	100% {
// 		border: 1px solid var(--neutral-green);
// 		box-shadow: var(--neon-shadow-light-green);
// 	}
// 	50% {
// 		border: 1px solid var(--light-green);
// 		box-shadow:
// 			0 0 2px 2px var(--light-green),
// 			0 0 4px 4px var(--light-green),
// 			0 0 6px 6px var(--light-green);
// 	}
// }
