.mainWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
	align-items: center;
	padding: 6rem 2rem;
	min-height: 100dvh;
	padding-top: 4rem;
}

.pageContent {
	position: relative;
	width: 90%;
	min-height: 80dvh;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sizzleBorder {
	border: 2px solid var(--light-green);
	box-shadow: var(--neon-shadow-light-green);
	border-radius: 20px;
	width: 100%;
	height: calc(100% - 2rem);
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
