.qualificationsWrapper {
	width: 100%;
	height: 100%;
}

.qualificationsTitleWrapper {
	position: absolute;
	font-size: 2.5rem;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1.2rem;
	background: linear-gradient(30deg, var(--header-white), var(--diluted-green));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;

	@media (min-width: 1024px) {
		font-size: 3rem;
	}

	@media (max-width: 768px) {
		font-size: 1.6rem;
		margin-top: 2rem;
	}

	@media (max-width: 480px) {
		font-size: 1rem;
	}
}

.flatironSlide {
	padding: 0 2rem 0 2rem;
}

.swiperButtonNext,
.swiperButtonPrev {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto 0px auto 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.swiperButtonNext::after,
.swiperButtonPrev::after {
	cursor: pointer;
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1;
	color: var(--neutral-green);
	border: 1px solid var(--neutral-green);
	border-radius: 10%;
	padding: 4px;
	box-shadow: var(--neon-shadow-light-green);
}

.swiperButtonPrev::after {
	content: 'prev';
}

.swiperButtonNext::after {
	content: 'next';
	animation: pulse-border-shadow 1s infinite ease-in-out;
}

.swiperButtonNext {
	bottom: 20% !important;
	top: 0 !important;
	left: 50% !important;
	transform: rotate(90deg);
	margin-bottom: 1.5rem !important;
}

.swiperButtonPrev {
	top: 20% !important;
	left: 50% !important;
	transform: rotate(90deg);
	margin-top: 0 !important;

	@media (max-width: 768px) {
		margin-top: 1.6rem !important;
	}

	@media (max-width: 480px) {
		margin-top: 0 !important;
	}
}

@keyframes pulse-border-shadow {
	0%,
	100% {
		border: 1px solid var(--neutral-green);
		box-shadow: var(--neon-shadow-light-green);
	}
	50% {
		border: 1px solid var(--light-green);
		box-shadow:
			0 0 2px 2px var(--light-green),
			0 0 4px 4px var(--light-green),
			0 0 6px 6px var(--light-green);
	}
}
